body {
    font-family: Helvetica;
    height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#top {
    text-align: center;
    width: 100%;
    height: 25%;
    background-color: blue;
}

#right {
    width: 25%;
    height: 50%;
    background-color: green;
}

#bottom {
    text-align: center;
    width: 100%;
    height: 25%;
    background-color: red;
}

#left {
    width: 25%;
    height: 50%;
    background-color: yellow;
}

#matcher {
    background-color: black;
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    color: white;
    text-shadow: 3px 3px black;
    position: absolute;
    font-size: 25px;
    top: 1vh;
    right: 2vh;
}

#life {
    color: white;
    text-shadow: 3px 3px black;
    position: absolute;
    font-size: 25px;
    top: 1vh;
    left: 2vh;
}

#timer {
    color: white;
    text-shadow: 3px 3px black;
    position: absolute;
    font-size: 25px;
    bottom: 0.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start_screen {
    background-color: lightgreen;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

#welcome_message {
    margin: 0 auto;
    text-align: center;
}

#play_button {
    margin: 2vh 4vh;
    padding: 2vh 4vh;
    font-family: Helvetica;
    background-color: lightgreen;
    color: black;
}

#end_screen {
    background-color: black;
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

#game_over {
    font-family: fantasy;
    margin: 2vh;
}

#end_scores {
    margin: 2vh;
    font-size: 4vh;
    font-family: Helvetica;
}

#high_score {
    margin-top: 8vh;
    font-size: 3vh;
    text-align: center;
}

#replay_button {
    margin: 2vh;
    padding: 2vh;
    font-family: Helvetica;
    color: red;
    background-color: black;
}

.rules {
    text-align: center;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}